/* Hide first and last buttons by default.*/

ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}

/* Modification */

.pagination {
    float:left;
    width:100%;
    margin: 20px 0;
}
.pagination .hidden {
    display: none;
}
.pagination ul {
	float:right;
	margin:0;
	padding:0;
	list-style:none;
}
.pagination ul li {
	float:left;
	margin:0 0 0 5px;
}
.pagination ul li a {
	text-decoration:none;
    color:#7B7B7B;
}
.pagination ul li.page a {
	color:#fff;
	font-size:9px;
	width:14px;
	height:14px;
	background:#b8b8b8;
	float:left;
	text-align:center;
	line-height:14px;
	font-weight:bold;
}
.forward a {
	font-size:12px;
	color:#7b7b7b;
}
.pagination ul li.next {
	margin-top:-1px;
}
.pagination ul li.selected a {
	background:#868686;
}